@page "/desserts"

@inject DessertsDataAccess dataAccess

<PageTitle>Desserts</PageTitle>

<h1>Desserts</h1>

@if(desserts is not null)
{
    foreach (var desert in desserts)
    {
        <h3>@desert.DessertName => @desert.NumberOfIngredients</h3>
    }
}
else
{
    <h3>Loading desserts...</h3>    
}

@code {
    List<Dessert> desserts;
    static Cache<string, List<Dessert>> cache;

    protected override async Task OnInitializedAsync()
    {
        // Create instance if doesn't exist
        if (cache == null)
        {
            cache = new();
        }

        // Try get desserts from cache
        desserts = cache.Get("Desserts");

        // If not Desserts value exists in cache - get value from Data access
        // AND set the value in cache, to be available next time we access it
        if (desserts == null)
        {
            desserts = await dataAccess.GetDesserts();
            cache.Set("Desserts", desserts);
        }

    }

}
